*{
    margin: 0px;
    padding: 0px;
}


.search_bar{
     /* border: 2px solid black; */
   width: 12em;
   height: 30px;
   margin-left: 75px;
}

body{
    background-size: cover;
}
.nav-link{
    border: 1px solid white;
    margin-left: 10px;
    background-color: rgb(128, 128, 107);
    border-style: double;
    padding-left: 2px;
}
.nav-item a:hover{
    background-color: rgb(24, 116, 119);
    color: blue;
    
}

.carousel-item{
    /* background-size: contain; */
    background-size: cover;
    
    
}
.carousel{
    margin-top: 1px;

}

.row{
    margin-left: 25%;
    padding: 3px;
    /* border: 5px solid rgb(167, 17, 17); */
}
    
.myMargin{
    background-color: rgb(65, 48, 97);
    margin-left: 60px;
    margin-top: 10px;
    border: 5px solid rgb(167, 17, 17);
    padding: 2px;
    width: 70px;
    height: 80% ;
    text-align:left;
    color: aqua;

}

#emailHelp{
    color: blue;
}
/* .login_form{
    border: 10px solid aqua;
    background-color: rgb(65, 48, 97);
    padding-left: 2px;
    text-align: center;
} */

#success_message
{ display: none;
}

.container{
    border: 5px solid rebeccapurple;
    padding: left 10px;
    text-align: left;
    background-color: rgb(208, 224, 224);
   
}

.dist_container {
    /* border: 2px solid black ; */
    width: 100%;
    margin: 2px;
    padding: left 1px;
    /* margin: auto; */
}

/* .column{
    border: 2px solid black;
    padding: 2px;
} */

.input-group{
    border: 2px solid purple;
}

/* codes for footer  */
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin: bottom 10px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.footer{
    margin-top: 1px;
}

.logo{
    margin-left: 40%;
    border: 2px solid black;
    background-color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #d8f7f7;
    padding: 10px;
   
    
  }
  
  .grid-container :hover{
    background-color: rgba(189, 33, 33, 0.8);
    color: black;
     /* border: 1px solid black; */
   /* text-align: center;
    font-size: 30px; */
  }
.each_dist{
  background-color: rgb(100, 60, 110);
 border-style: groove;
 text-align: center;
 text-decoration: none;
 color: brown;
}
  .dist_nav-item{
      margin-left: 10px;
      padding-left: 2px;
  }
  .dist_nav-item a:hover{
    background-color: rgb(110, 30, 185);
      
 }
 
 .keralamap {
  background-color: #3b414000; 
  border: 2px solid rgb(225, 213, 236);
 }
 #more {display: none;}

 .form-label{
     padding: 2px;
 }
 .form-control{
     border: 1px solid black;
     padding 2px;
 }
